[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gimme"]
	path = gimme
	url = https://github.com/gateslab/gimme
	subdir = gimme
